
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

/* NAV LAYOUT */
nav{
    background-color:#6a7b8b;
    padding: 10px 3%;
    height:150px;
  }

nav> img{
    width:200px;
    margin-top: 20px;
}

  
  .flex.space-between.footer{
    margin-top:13%;
  }

  .schedules{
      padding: 50px;;
  }

  .title{
      margin:20px 42% 10px; 
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
  }

  .btn.btn-primary{
    background-color: #6a7b8b;
    border: black;
  }

  .form-control{
    height:55px;
    background-color: #d3d3d3;
  }

  .col1{
    width: 100px;
  }

  .col2{
    width: 100px;
  }

  .col3{
    width: 250px;
  }

  .col4{
    max-width: 450px;
  }

  .table{
    margin:30px 25%;
    width: 50%;
  }

  th, td{
    height:60px;
  }

  th{
    font-size: 20px;
    font-weight: 150;
    text-transform: uppercase;
  }

  .title.schedules{
    font-size: 35px;
    margin:10px 15%;
    font-weight: bold;
    text-transform: uppercase;
  }

 


  
  
